@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ffd523;
  font-family: "Otomanopee One", sans-serif;
}
#root {
  min-height: min-content;
}
.container {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: space-around;
  margin: 3.5rem 2rem .25rem;
}
